:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-greyish-blue: hsl(230, 11%, 40%);
  --greyish-blue: hsl(231, 7%, 65%);
  --light-greyish-blue: hsl(207, 33%, 95%);
}

body {
  font-family: "Barlow", sans-serif;
  color: var(--very-dark-blue);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.3rem 1.95rem 3.7rem;
}

nav {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  padding: 2.5rem 2rem;
}

.logo {
  height: 1.5625rem;
  width: 1.5625rem;
}

/* Menu Button */
.menu-btn {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line {
  background-color: var(--very-dark-blue);
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0 0 0.3125rem 0;
  transition: all 0.5s ease-out;
}

/* Menu Button close */
.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(0.5125rem, 0.5125rem);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(0.2375rem, -0.175rem);
}

/* Menu & Overlay */

/* clicking on overlay closes menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.overlay.active {
  display: flex;
}

/* menu links */
.links {
  position: absolute;
  top: 6.25rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
    0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
  background: #ffffff;
  width: calc(100% - 3.898rem);
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.3rem;
  transform: scaleY(0);
  transition: 0.2s ease-in-out;
}

.links.active {
  transform: scaleY(1);
}

.links a {
  text-decoration: none;
  color: var(--very-dark-blue);
  margin-top: 1.545rem;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
}

hr {
  width: 85%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 1.5rem;
}

.links a:last-child {
  color: var(--greyish-blue);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Splash image */

.splash {
  padding-left: 0.5rem;
  padding-bottom: 3.75rem;
}

.splash img {
  width: 100%;
}

/* background shape */

.background {
  width: 50vw;
  height: 26.5rem;
  background-color: var(--light-greyish-blue);
  border-bottom-left-radius: 3.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Product sections */

.product-info {
  padding: 1.6rem 2rem 2.1875rem 2rem;
  font-family: "Barlow Condensed", sans-serif;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.95rem;
  color: var(--greyish-blue);
}

.emphasis {
  color: white;
  letter-spacing: normal;
  background-color: var(--very-dark-blue);
  font-weight: 700;
  padding: 0.2375rem 0.6875rem;
  border-radius: 2rem;
  margin-right: 0.6rem;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5125rem;
  margin: 1.2rem 0;
  line-height: 1;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.15rem;
  color: var(--dark-greyish-blue);
  margin-bottom: 1.75rem;
  line-height: 1.35;
  margin-right: 0.8rem;
}

/* Call to action */

.cta {
  text-transform: uppercase;
}

.primary {
  background-color: var(--red);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  margin-right: 1.1875rem;
}

.preview {
  color: var(--greyish-blue);
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
}
