:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-greyish-blue: hsl(230, 11%, 40%);
  --greyish-blue: hsl(231, 7%, 65%);
  --light-greyish-blue: hsl(207, 33%, 95%);
}

body {
  font-family: "Barlow", sans-serif;
}

nav {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  padding: 2.5rem 2rem;
}
